<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>商品列表</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/listgoods.css}">
</head>
<body>

    <div class="list_gods">
        <input class="in_search" type="text" placeholder="请输入商品名称">
        <input class="btn_search" type="submit" value="查询">
        <!--商品列表-->
        <table id="tab">
            <thead>
            <tr>
                <th>商品名</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            <tr id="hcover" th:each="good : ${goods}">
                <td th:text="${good.name}"></td>
                <td>
                    <input type="hidden" th:value="${good.storeId}">
                    <a th:href="@{/admin/delete}" class="btn delete goddel">删除</a>
                    <a th:href="@{/admin/updateGood(goodsId=${good.goodsId},storeId=${good.storeId})}" class="btn update" target="myframe">修改</a>
                </td>
            </tr>
            </tbody>
        </table>
        <!--<img src="../../../../.././upload/goodsimg/0f5a25c2-966c-4133-aa39-7149d051796c.jpg" alt="">-->
        <!--<img th:src="@{/upload/goodsImg/0f5a25c2-966c-4133-aa39-7149d051796c.jpg}">-->
        <!--分页-->
        <div class="SplitPage" th:if="${TotalPages > 0}">
            <ul class="SplitUl" th:if="${TotalPages > 1}">
                <li th:if="${Number == 1}">
                    <a href="javascript:;">首页</a>
                </li>
                <!--//跳转至第一页-->
                <li th:if="${Number > 1}">
                    <a th:href="@{/admin/selectUser(pageNum=1)}">首页</a>
                </li>
                <li th:if="${Number > 1}">
                    <a th:href="@{/admin/selectUser(pageNum=${Number-1})}">Prev</a>
                </li>
                <!--//请求页数-1-->
                <li th:each="i:${#numbers.sequence(1,TotalPages)}">
                    <!--//从1到总页数遍历，并赋值给i    TotalPages&ndash;&gt;总页数-->
                    <a th:if="${i > Number-3} and ${i < Number+3} and ${i == Number}" class="active" href="javascript:;"
                       th:text="${i}">#</a>
                    <!--//限制显示页数的条数  4到6个页数   而且等于当前页，不能点击-->
                    <a th:if="${i > Number-3} and ${i < Number+3} and ${i != Number}"
                       th:href="@{/admin/selectUser(pageNum=${i})}" th:text="${i}">#</a>
                    <!--//限制显示页数的条数  4到6个页数-->
                </li>
                <li th:if="${Number != TotalPages}">
                    <a th:href="@{/admin/selectUser(pageNum=${Number+1})}">Next</a>
                </li><!--//请求页数+1-->
                <li th:if="${Number == TotalPages}">
                    <a class="noclick" href="javascript:;">尾页</a>
                </li>
                <li th:if="${Number != TotalPages}">
                    <a th:href="@{/admin/selectUser(pageNum=${TotalPages})}">尾页</a>
                </li><!--//跳转至第Number页-->
            </ul>
        </div>
    </div>





</body>
<script th:src="@{/js/jquery-2.1.0.js}"></script>
<script type="text/javascript" th:src="@{/js/user.js}"></script>
</html>